@model HotelProject.WebUI.Models.Settings.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h4>Profil Bilgileri ve Şifre Güncelleme</h4>

<form method="post">
    <label>Adınız</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

     <label>Soy Adınız</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />

    <label>Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />

    <label>Kullanıcı Adınız</label>
    <input type="text" class="form-control" asp-for="UserName" />
    <br />

    <label>Şifre</label>
    <input type="password" class="form-control" asp-for="Password" />
    <br />

    <label>Şifre Tekrar</label>
    <input type="password" class="form-control" asp-for="ConfirmPassword" />
    <br />

    <button class="btn btn-success">Bilgileri Güncelle</button>
</form>