@model CreateServiceDto
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Hizmet Ekle</h1>


<form method="post">
    <label>Hizmet İkonu</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span asp-validation-for="ServiceIcon" class="text-danger"></span> @*  validasyonları aldık *@
    <br />
    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
   
    <button class="btn btn-primary"> <i class="fa fa-user-plus"></i>Hizmeti Ekle</button>
</form>